aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
certifi==2022.12.7
charset-normalizer==2.1.1
et-xmlfile
frozenlist
idna
magic-filter
multidict
numpy
openpyxl
Pillow
psycopg2-binary
python-dateutil
python-dotenv
pytz
qrcode
six
XlsxWriter
yarl
